<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
	This is my first attempt at a Ruby on Rails application using the
	<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>. I've managed this far without breaking anything (mostly).
</p>
